<h1><%= @cocktail["name"] %></h1>

<div class="description w-50">
  <p><%= @cocktail["description"] %></p>
</div>
<hr>

<div class="outer-body d-flex justify-content-sm-center">
  <div class="body-left">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="table-right"><strong>Ingredient</strong></th>
          <th class="table-left"><strong>Description</strong></th>
        </tr>
      </thead>
      <% @cocktail.doses.each do |dose| %>
        <tbody>
          <td class="table-right"><%= dose.ingredient.name %></td>
          <td class="table-left"><%= dose.description %></td>
        </tbody>
      <% end %>
    </table>
  </div>
  <div>
    <%= cl_image_tag @cocktail.photo, class:"body-right" %>
  </div>
</div>


<hr>

<h5>Add an ingredient</h5>

<div class="form-center">
  <%= simple_form_for [@cocktail, @dose], { class: "w-50"} do |f| %>
    <%= f.input :ingredient, :collection => Ingredient.all  %>
    <%= f.input :description %>
    <%= f.submit "Add ingredient", class: "btn btn-primary" %>
  <% end %>
</div>
<hr>
<br>
